.footer{
    background: url('../../../content/images/fondo/fondo_footerprova.jpg') no-repeat;
    background-size: 100% 100%;
    padding-top: 2em;
}

.logo_stucom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.logo_stucom span{
    width: 100%;
    text-align: center;
}

.logo_stucom a{
    text-align: center;
}

.logo_stucom img{
    max-width: 35%;
}

.logo_stucom img:hover{
    content: url('../../../content/images/logo/stucom_logo.png');
}

.__footer{
    padding-bottom: 2em;
}

.footer_links{
    display: flex;
    background-color: rgba(130, 122, 122, 0.22);
    border-radius: 12px;
    text-shadow: -1px -1px 0px #0e0d0d, 1px 1px 1px #101010, -1px 1px 1px #080808, 2px -1px #151414;
    font-weight: 600;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    text-decoration: none;
    padding-bottom: 1em;
}

.footer_links a {
    color: white;
}

.footer_links span{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.footer_links a:not(:first-child){
    width: 33%;
    text-align: center;
    font-weight: 400;
}

.copy_right{
    display: block;
    color: white;
    text-align: center;
    font-size: x-small;
}

.__footer div:not(:nth-child(2)){
    font-weight: 400;
    font-size: 0.9rem;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.socials span{
    width: 100%;
    text-align: center;
}

.socials a{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.2em;
}


.socials a:nth-child(2) img{max-width: 85%;}
.socials a:nth-child(2) img:hover{content: url('../../../content/images/logo/facebook_logo.png');}

.socials a:nth-child(3) img{max-width: 65%;}
.socials a:nth-child(3) img:hover{content: url('../../../content/images/logo/instagram_logo.png');}

.socials a:nth-child(4) img{max-width: 58%;}
.socials a:nth-child(4) img:hover{content: url('../../../content/images/logo/googleplus_logo.png');}

.socials a:last-child img{max-width: 58%;}
.socials a:last-child img:hover{content: url('../../../content/images/logo/twitter_logo.png');}


.socials a:first-child{
    margin-left: 4em;
}

span{
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

