<div class="footer">
   <div class="row __footer">
       <div class="logo_stucom col-md-3">
           <span>Con el soporte de:</span>
           <a href="https://www.stucom.com"><img src="../../../content/images/logo/stucom_logo.png" alt=""></a>
       </div>

       <div class="col-6 footer_links">
               <span>Links</span>
               <a jhiTranslate="global.menu.home" routerLink="/"></a>
               <a jhiTranslate="global.menu.profile" routerLink="perfil"></a>
               <a jhiTranslate="global.menu.team" routerLink="equipo"></a>
               <a jhiTranslate="global.menu.language" class="dropdown-toggle"></a>
       </div>

       <div class="col-3 socials">
           <span class="text-white">Siguenos en:</span>
           <a href="#"><i class="fa fa-facebook"></i></a>
           <a href="#"><i class="fa fa-google-plus"></i></a>
           <a href="#"><i class="fa fa-instagram"></i></a>
           <a href="#"><i class="fa fa-twitter"></i></a>
       </div>
   </div>
    <span class="copy_right">RockTionary © 2018 DAW2 STUCOM</span>
</div>
