<div class="footer">
   <div class="row __footer">
       <div class="logo_stucom col-md-3">
           <span>Con el soporte de:</span>
           <a href="https://www.stucom.com" target="_blank"><img src="../../../content/images/logo/stucom_logoyellow.png" alt=""></a>
       </div>

       <div class="col-6 footer_links">
               <span>Links</span>
               <a jhiTranslate="global.menu.home" routerLink="/"></a>
               <a jhiTranslate="global.menu.profile" routerLink="perfil"></a>
               <a jhiTranslate="global.menu.team" routerLink="equipo"></a>
               <a jhiTranslate="global.menu.language" class="dropdown-toggle"></a>
       </div>

       <div class="col-3 socials">
           <span class="text-white">Siguenos en:</span>
           <a href="https://www.facebook.com" target="_blank"><img src="../../../content/images/logo/facebook_logoyellow.png" alt=""></a>
           <a href="https://instagram.com" target="_blank"><img src="../../../content/images/logo/instagram_logoyellow.png" alt=""></a>
           <a href="https://plus.google.com" target="_blank"><img src="../../../content/images/logo/googleplus_logoyellow.png" alt=""></a>
           <a href="https://twitter.com" target="_blank"><img src="../../../content/images/logo/twitter_logoyellow.png" alt=""></a>

       </div>
   </div>
    <span class="copy_right">RockTionary © 2018 DAW2 STUCOM</span>
</div>
