

/*----------Carousel---------*/
._carousel{
    padding: 2rem;
}

.carousel{
    height: 400px;
}

/*----------Descripcion---------*/
.descripcion {
    padding: 2rem;
}

.descripcion div{
    height: 300px;
}

.container{
    height: 400px;
}


/*----------About-Us---------*/


.about-us-info{
    padding: 2rem;
}

.about-us-info div{
    height: 2000px;
}


