.main{
    background-color: black;
}

/*----------About-Us---------*/
.about_us{
    font-size: 2.9rem;
    color: white;
    padding: 1rem;
    font-family: "New Rocker", cursive;
    border-radius: 10px;
}

/*----------Carousel---------*/
._carousel{
    padding: 2rem;
}

.carousel-item img{
    width: 100%;
    border: 2px solid white;
}

/*----------Descripcion---------*/
.descripcion {
    padding: 1rem;
}

._descripcion{
    border-radius: 1rem;
    font-size: 1.4rem;
    background-color: rgba(41, 33, 33, 0.28);
    padding: 2rem;
}


/*----------About-Us---------*/
.about-us-info{
    padding: 2rem;
}

.mem{
    background-color: rgba(86, 84, 84, 0.24);
    border-radius: 2rem;
}


.text_miembro{
    font-size: 3.5rem;
    font-family: "New Rocker", cursive;
    text-shadow: -1px -1px 1px #b69200, 1px 1px 1px #b69200, -1px 1px 1px #b69200, 1px -1px #b69200;
}

.perfil_miembro img{
    width:100%;
}
.skill_miembro img{
    height: 94%;
    width: 100%;
}

.inf_mem{
    padding: 2.7rem 1rem 1.2rem 1rem;
}

.info_miembro{
    padding: 1.1rem;
    background-color: #616161;
}

.info_miembro span:nth-child(3),.info_miembro span:last-child{
    color: #252020;
}

.frase_preferida{
    color:#3e3b3b;
}

.info_miembro span{
    display: block;
    margin-top: 20px;
}

@media (min-width: 576px){
    .info_miembro{
        font-size: 1.1rem;
    }
    .inf_mem{
        padding: 2.7rem 1rem 0 1rem;
    }
}



@media (min-width: 768px){
    .text_miembro{
        font-size: 4.5rem;
    }

    .info_miembro{
        font-size:  1.4rem;
        padding: 3rem;
    }

    ._descripcion {
        font-size: 1.6rem;
    }
}

@media (min-width: 992px) {
    .text_miembro{
        font-size: 3.2rem;
    }

    .inf_mem {
        padding: 2.7rem 0 1.2rem 0;
    }

    .info_miembro{
        font-size: 1rem;
        padding: 0.5rem 1rem 1rem 1rem;
    }

    ._descripcion{
        font-size: 1.5rem;
        font-weight: 200;
    }
    .skill_miembro{
        width: 100%;
        width: 100%;
        padding: 2.7rem 1.6rem 1.2rem 0;
    }
    .skill_miembro img {
        height: 100%;
    }

    .perfil_miembro{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
    }
    .perfil_miembro img{
        width: 100%;
        transform: scale(1.4);
    }
}

@media (min-width: 1200px){
    .info_miembro{
        font-size: 1.2rem;
    }
}

