.main{
    padding: 1.6rem;
    background-image: url('../../../content/images/fondo/fondoPerfil.jpg');
    padding-bottom: 5em;
}

._container {
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: rgba(0, 0, 0, 0.67);
    margin-top: 30px;
    width: 75%;
    padding: 0 1.5rem;
    margin:0 auto;
    padding-bottom: 2em;
}

.img_perfil{
    width: 400px;
    position: relative;
}
.img_perfil img:first-child{
    width: 457px;
    z-index: 1;
    position: relative;
}

.img_perfil img:last-child{
    position: absolute;
    height: 215px;
    border-radius: 50%;
    width: 215px;
    left: 31%;
    top: 15%;
}

._add_profPic{
    margin-left: 50px;
    display: block;
    width: 20%;
}

.__perfil{
    text-align: center;
}

.edit_profile{
    width: 40%;
    border: black;
    background-color: rgba(160, 147, 147, 0.63);
    padding: 0.5em 2em;
    font-size: 1.2rem;
}

.nom_perfil{
    display: block;
    font-family: 'New Rocker', cursive;
    font-size: 4rem;
    background: -webkit-linear-gradient(#000, #9c936b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px white;
}

/*<!--Datos de perfil-->*/

.perfil_datos{
    padding: 1.5rem;
}

.__perfil_datos{
    color: white;
}

/*<!--top canciones mas escuchados-->*/


.top_canciones{
    text-align: center;
}

.top_canciones span{
    font-size: 2rem;
    color: white;
}

.perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width: 768px){
    .nom_perfil{
        font-size: 4.5rem;
    }
}


@media (min-width: 992px){
    .nom_perfil{
        font-size: 5rem;
    }
}



@media (min-width: 1200px){
    .__perfil{
        order: 1;
        text-align: left;
        padding-left: 4em;
    }


    .top_canciones span{
        font-size: 2.6rem;
    }
    .nom_perfil{
        font-size: 5.5rem;
    }

}

