<link href="https://fonts.googleapis.com/css?family=New+Rocker" rel="stylesheet">

<div class="main">
    <div class="_container">
        <div class="row perfil">
            <div class="__perfil col-lg-7">
                <span class="nom_perfil">Username</span>
            </div>
            <div class="img_perfil col-lg-5">
                <img src="../../../content/images/perfil/fotoperfilAlbert.png" alt="">
            </div>
        </div>

        <div class="row">
            <div class="perfil_datos  col-lg-6">
                <div class="__perfil_datos">

                </div>
            </div>
            <div class="top_canciones col-lg-6  ">
                <span>Top canciones mas escuchados</span>
                <div class="__top_canciones_res  bg-primary"></div>
            </div>
        </div>

    </div>
</div>
