.user-management{
    background: url("../../../content/images/fondonewversion3.jpg") fixed;
    color: white;
    padding: 8em;
}

.table-responsive{
    background-color: rgba(28, 28, 28, 0.7);
    padding: 1em;

}
