.main{
    background-image: url('../../../content/images/fondo/fondoPerfil.jpg');
    color: white;
    padding: 9em;
    font-size: 1.3rem;
}

//input{
//    font-size: 1.5rem;
//}

button[type='submit']{
    display: block;
    margin: auto;
    padding: 0.5em 4em;
    margin-top: 2em;
}
