.register-page{
    background: url("../../../content/images/fondo/fondoRegistro.jpg") no-repeat;
    background-size: 100%;
    padding-bottom: 5em;
}

.container{
    height: 700px;
}
.titulo{
    text-shadow: -1px -1px 1px #e8e6de, 1px 1px 1px #b4b3b7, -1px 1px 1px #b4b3b7, 1px -1px #e8ac02;
    display: block;
    text-align: center;
    font-size: 3rem;
}

.form{
    background: url("../../../content/images/register-page/libro.png") no-repeat;
    background-size: 100%;
    transform: scale(1.3);
    padding: 10em 14em 0em 14em;
}

form{
    padding: 3em 1.2em 0em 1em;
}

.form-group span{
    display: block;
    font-weight: 400;
    font-size: 0.8rem;
}

.form-group input{
    width: 100%;
    display: block;
    background: none;
    border: none;
    border-bottom-width: 1.5px;
    border-bottom-style: dashed;
    font-size: 0.8rem;
}

.log-in-socials{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self:center;
}

.log-in-socials span{
    font-weight: 400;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding: 1em;
}





