
<div *ngIf="album">
    <div class="album-detail">
        <div class="col-12 album-detail__cover">
            <div class="blurred-container">
                <div class="blurred" [ngStyle]="{'background-image':'url('+album.images[0].url+')'}">
                </div>
                <!--<img data-ng-src="{{'data:' + vm.album.fotoContentType + ';base64,' + vm.album.foto}}" alt="Imagen de album"/>-->
            </div>
            <div class="container container-mid">
                <div class="album_perfil">
                    <img src="../../entities/equipo/img/rockframeV2.png" alt="">
                    <img [src]="album.images[0].url"  alt="Imagen de album"/>
                </div>
                <div class="album-detail__stats">
                    <a data-tab="general" class="active" (click)="triggerClass($event)">General</a>
                    <!--<a (click)="triggerClass($event)" href="">Seguidores</a>-->
                    <a data-tab="comentarios" (click)="triggerClass($event)">
                        Comentarios
                        <span *ngIf="albumComments.length">({{ albumComments.length }})</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 album-detail__resumen">
            <div class="container">
                <div class="div-50 tabs">
                    <!--<div ng-if="vm.showGeneral" class="general">-->
                    <!--<span class="resumen-label">INFORMACIÓN GENERAL</span>-->
                    <!--<p>{{vm.album.localizacion}}</p>-->
                    <!--</div>-->
                    <!--<div *ngIf="showSeguidores" class="seguidores">-->
                    <!--<span class="resumen-label">SEGUIDORES</span>-->
                    <!--<p>{{vm.album.localizacion}}</p>-->
                    <!--</div>-->
                    <section *ngIf="showComentarios" class="comentarios">
                    <span class="resumen-label">COMENTARIOS</span>
                        <form (submit)="addComment()" name="addComentForm" class="commentarios__form">
                            <textarea style="position: relative;" name="comment" [(ngModel)]="commentText" placeholder="Deja tú comentario..." required></textarea>
                            <div class="loader-container">
                                <div class="loader"></div>
                            </div>
                            <button [disabled]="!commentText" type="submit">Enviar</button>
                        </form>
                        <ul *ngIf="albumComments.length" class="list-unstyled comment-section">
                            <li class="comment" *ngFor="let comment of albumComments">
                                <i class="comment-remove fa fa-remove text-white" *ngIf="loggedUser === comment.user.login" (click)="removeComment($event, comment.id)"></i>
                                <span class="comment-date text-white">{{ comment.fechaComentario | date: 'short' }}</span>
                                <a [routerLink]="['/user', comment.user.login]" class="comment-user m-0 text-white">{{ comment.user.login }}</a>
                                <p class="comment-text m-0 text-white">{{ comment.comentario }}</p>
                                <div class="loader-container">
                                    <div class="loader"></div>
                                </div>
                            </li>
                        </ul>
                        <p *ngIf="!albumComments.length" class="no-comments-yet text-white">
                            Aún no hay comentarios sobre {{ album.name }} <br>
                            <strong>¡Sé el primero en comentar!</strong>
                        </p>
                    </section>

                    <section *ngIf="!showComentarios" class="album-canciones">
                        <h3>Canciones de {{album.name}}</h3>
                        <ul class="list-unstyled album-tracks-container">
                            <li (click)="playTrack(track)" *ngFor="let track of albumTracks.items" class="album-track">
                            <p class="font-weight-light text-white mb-0">{{track.name}}</p>
                            <span>{{parseMillis(track.duration_ms)}}</span>
                            <p style="font-size: 14px; width: 100%" class="mb-0">{{track.explicit ? '(Explicita)' : ''}}</p>
                        </li>
                        </ul>
                    </section>
                </div>
                <div class="div-50 more-info">
                    <h1 class="album-name">{{album.name}}</h1>
                    <h3><a class="album-spotify-profile" target="_blank" [href]="album.external_urls.spotify">Perfil de {{album.name}} en Spotify</a></h3>
                    <p>Canciones <span class="album-canciones-total">{{albumTracks.total}}</span></p>
                    <!--<p>{{vm.bandaBio}}</p>-->
                </div>
            </div>
        </div>

    </div>
</div>
