.metrics{
    background: url("../../../content/images/fondonewversion5.jpg") fixed;
    color: white;
    padding: 4em;
}
.main{
    background-color: rgba(28, 28, 28, 0.7);
    padding: 1em;
    border-radius: 15px;
}
