.container{
    padding-top: 5em;
    padding-bottom: 6em;
}

.main{
    background: url("../../../../content/images/fondo/fondoRegistro.jpg") no-repeat center;
    color: white;
}

h1{
    text-shadow: -1px -1px 1px #e8e6de, 1px 1px 1px #b4b3b7, -1px 1px 1px #b4b3b7, 1px -1px #e8ac02;
}
