
.login-main{
    background: url("../../../content/images/register-page/libro.png") no-repeat fixed;
    background-size: 304%;
    background-position: 26%;
}
.modal-header h4{
    text-align: center;
    text-shadow: -1px -1px 1px #e8e6de, 1px 1px 1px #b4b3b7, -1px 1px 1px #b4b3b7, 1px -1px #e8ac02;
    font-size: 1.7em;
    font-weight: 400;
}

form{
    text-align: center;
}

